.accordion {
  margin-top: 32px;
  width: 95%;
}

.accordion-item {
  border-left: 3px solid var(--primary);
  padding-left: 16px;
  margin-bottom: 16px;
}

.accordion-item-trigger,
.accordion-item-details-inner {
  //padding: 16px 16px 16px 0;
}

.accordion-item-title {
  position: relative;

  h4 {
    font-size: 24px;
    width: 90%;
  }
}

.accordion-item-trigger {
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.accordion-item-trigger-icon {
  $size: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  width: $size;
  height: $size;
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
  transform: translateY(-$size / 4) rotate(45deg);
  transition: transform 0.2s ease;

  .is-active & {
    transform: translateY($size / 4) rotate(225deg);
  }
}

.accordion-item-details {
  overflow: hidden;
  font-size: 18px;
  line-height: 150%;
  width: 90%;

}

.accordion-item-enter-active, .accordion-item-leave-active {
  will-change: height;
  transition: height 0.2s ease;
}

.accordion-item-enter, .accordion-item-leave-to {
  height: 0 !important;
}
