.button {
  background-color: $primaryColor;
  color: white;
  border-radius: 40px;
  padding: 16px 32px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: 'League Spartan', sans-serif;
  font-size: $fz20;
  white-space: nowrap;
  transition: .3s;
  border: 2px solid transparent;

  &:hover {
    background-color: white;
    border: 2px solid white;
    color: $primaryColor;
  }

  &.secondary {
    background-color: white;
    border: 2px solid $primaryColor;
    color: $primaryColor;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }
}
